body {
  background-color: #fff;
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  text-shadow: rgba(0, 0, 0, 0.01) 0 0 1px;
  font-family: PingFang SC, Helvetica Neue, Arial, sans-serif;
}

a {
  color: #155bd4;
}

code[class*=language-] {
  display: block;
  font-size: 13px;
  overflow-x: auto;
  font-weight: 400;
  line-height: 22px;
  border-radius: 3px;
  margin-bottom: 25px;
  position: relative;
  word-break: break-all;
  white-space: pre-wrap;
  background-color: #f5f7fa;
  color: #455a64;
  padding: 18px 10px 18px 20px;
  font-family: Source Code Pro, Monaco, Inconsolata, monospace;
}

.clearfix::before {
  display: table;
  content: "";
}
.clearfix::after {
  display: table;
  content: "";
  clear: both;
}

.main-content {
  min-height: calc(100vh - $top-nav-height - $footer-height - 20px);
}
@media (min-width: 1440px) {
  .main-content {
    width: 1440px;
    margin: 0 auto;
  }
}

.page-container {
  background-color: #fff;
  position: relative;
  width: 100%;
  display: -ms-flexbox;
  display: flex;
  border-radius: 4px;
}

.page-content {
  box-sizing: border-box;
  -ms-flex-positive: 1;
      flex-grow: 1;
}
.page-content section {
  padding: 0 40px;
}
.page-content section > h1,
.page-content section > h2,
.page-content section > h3,
.page-content section > h4,
.page-content section > h5,
.page-content section > h6 {
  line-height: 1.5;
  font-weight: normal;
  position: relative;
  margin: 20px 0 10px;
  color: rgba(51, 51, 51, 0.9);
  font-family: Dosis, Source Sans Pro, PingFang SC, Helvetica Neue, Arial, sans-serif;
}
.page-content section > h1:hover a:first-child,
.page-content section > h2:hover a:first-child,
.page-content section > h3:hover a:first-child,
.page-content section > h4:hover a:first-child,
.page-content section > h5:hover a:first-child,
.page-content section > h6:hover a:first-child {
  opacity: 0.4;
}
.page-content section > h1 a:first-child,
.page-content section > h2 a:first-child,
.page-content section > h3 a:first-child,
.page-content section > h4 a:first-child,
.page-content section > h5 a:first-child,
.page-content section > h6 a:first-child {
  float: left;
  margin-left: -20px;
  opacity: 0;
  cursor: pointer;
}
.page-content section > h1 {
  font-size: 36px;
  line-height: 45px;
}
.page-content section > h2 {
  font-size: 30px;
}
.page-content section > h3 {
  font-size: 22px;
}
.page-content section > h4 {
  font-size: 20px;
}
.page-content section > h3,
.page-content section > h4 {
  margin-top: 40px;
}
.page-content section > h3 + h3,
.page-content section > h3 + h4,
.page-content section > h4 + h3,
.page-content section > h4 + h4 {
  margin-top: 15px;
}
.page-content section > h5 {
  font-size: 14px;
}
.page-content section > h6 {
  font-size: 14px;
  color: #666;
}
.page-content section > p {
  font-size: 14px;
  line-height: 20px;
  color: #666;
  margin: 14px 0;
}
.page-content section > ul li,
.page-content section > ol li {
  color: #666;
  font-size: 14px;
  line-height: 20px;
  margin: 10px 0 10px 20px;
  padding-left: 20px;
  position: relative;
}
.page-content section > ul li::before,
.page-content section > ol li::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 6px;
  height: 6px;
  margin-top: 8px;
  border-radius: 50%;
  box-sizing: border-box;
  border: 1px solid #666;
}
.page-content section > ul li li,
.page-content section > ol li li {
  margin-left: 0;
}
.page-content section .anchor-point {
  visibility: hidden;
  position: absolute;
  top: 0;
}
.page-content p > code,
.page-content .table code,
.page-content li > code {
  margin: 0;
  font-size: 13px;
  overflow-x: auto;
  font-weight: 400;
  line-height: 22px;
  border-radius: 3px;
  position: relative;
  word-break: break-all;
  white-space: pre-wrap;
  background-color: #f5f7fa;
  color: #455a64;
  font-family: Source Code Pro, Monaco, Inconsolata, monospace;
  padding: 4px 7px;
  display: inline;
}
.page-content blockquote {
  padding: 0 1em;
  color: #6a737d;
  border-left: 0.25em solid #dfe2e5;
}

.table {
  border-collapse: collapse;
  width: 100%;
  background-color: #fff;
  color: #333;
  font-size: 14px;
  margin-bottom: 45px;
}
.table th {
  padding: 10px;
  text-align: left;
  font-weight: normal;
  background-color: #f5f7fa;
  border: 1px solid #eaeefb;
}
.table th:first-child {
  padding-left: 10px;
}
.table td {
  padding: 10px;
  border: 1px solid #eaeefb;
}

.token.atrule,
.token.attr-value,
.token.keyword {
  color: #1976d2;
}

.token.selector,
.token.attr-name,
.token.string,
.token.char,
.token.builtin,
.token.inserted {
  color: #32a973;
}

.token.property,
.token.tag,
.token.boolean,
.token.number,
.token.constant,
.token.symbol,
.token.deleted {
  color: #1976d2;
}
@-webkit-keyframes slideInDown {
  from {
    transform: translate3d(0, -100%, 0);
    visibility: visible;
  }
  to {
    transform: translate3d(0, 0, 0);
  }
}
@keyframes slideInDown {
  from {
    transform: translate3d(0, -100%, 0);
    visibility: visible;
  }
  to {
    transform: translate3d(0, 0, 0);
  }
}
.slideInDown {
  -webkit-animation-name: slideInDown;
          animation-name: slideInDown;
}

@-webkit-keyframes slideOutUp {
  from {
    transform: translate3d(0, 0, 0);
  }
  to {
    visibility: hidden;
    transform: translate3d(0, -100%, 0);
  }
}

@keyframes slideOutUp {
  from {
    transform: translate3d(0, 0, 0);
  }
  to {
    visibility: hidden;
    transform: translate3d(0, -100%, 0);
  }
}
.slideOutUp {
  -webkit-animation-name: slideOutUp;
          animation-name: slideOutUp;
}

.animated {
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
}

.app {
  min-width: 1200px;
}

.page-content {
  overflow-x: auto;
  position: relative;
}

.react-doc-page-content {
  min-height: 100%;
  padding: 10px 0 62px;
  box-sizing: border-box;
  overflow: hidden;
  position: relative;
}

.zandoc-react-container .zandoc-react-demo {
  border-radius: 4px;
  border: 1px solid #eaeefb;
  margin: 0 40px;
}
.zandoc-react-container .zandoc-react-demo + .zandoc-react-demo {
  margin-top: 40px;
}
.zandoc-react-container .zandoc-react-demo__preview {
  padding: 40px;
}
.zandoc-react-container .zandoc-react-demo__bottom {
  padding: 20px;
  border-top: 1px solid #eaeefb;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: justify;
      justify-content: space-between;
  -ms-flex-align: center;
      align-items: center;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  transition: background-color 0.3s ease;
  background-color: #f5f7fa;
}
.zandoc-react-container .zandoc-react-demo__bottom:hover {
  background-color: #ebeff5;
}
.zandoc-react-container .zandoc-react-demo__toggle {
  display: inline-block;
  width: 20px;
  height: 20px;
  color: #ccd6e5;
  font-size: 12px;
  line-height: 20px;
  -ms-flex: 0 0 auto;
      flex: 0 0 auto;
  transition: 0.2s ease;
}
.zandoc-react-container .zandoc-react-demo__toggle-off {
  transform: rotate(180deg);
}
.zandoc-react-container .zandoc-react-demo__title {
  -ms-flex: 1;
      flex: 1;
  color: #666;
  font-size: 14px;
  min-height: 20px;
  margin-right: 20px;
}
.zandoc-react-container .zandoc-react-demo__code code[class*=language-] {
  margin: 0;
  border-top: 1px solid #eaeefb;
}

.zandoc-react-color-row {
  margin-bottom: 10px;
}
.zandoc-react-color-row .zandoc-react-color-cell {
  margin-right: 10px;
}
.zandoc-react-color-row .zandoc-react-color-cell:last-child {
  margin-right: 0;
}

.zandoc-react-color-cell {
  display: inline-block;
  width: 250px;
  height: 80px;
  border-radius: 4px;
  padding: 5px 15px;
  box-sizing: border-box;
  font-family: Dosis, Source Sans Pro, Helvetica Neue, Arial, sans-serif;
}
.zandoc-react-color-cell .zandoc-react-color-cell__name {
  margin-top: 8px;
  font-size: 20px;
}
.zandoc-react-color-cell .zandoc-react-color-cell__color {
  margin-top: 8px;
  font-size: 14px;
}
.zandoc-react-color-cell--light .zandoc-react-color-cell__name {
  color: #fff;
}
.zandoc-react-color-cell--light .zandoc-react-color-cell__color {
  color: #e5e5e5;
}
.zandoc-react-color-cell--dark .zandoc-react-color-cell__name {
  color: #333;
}
.zandoc-react-color-cell--dark .zandoc-react-color-cell__color {
  color: #999;
}
.zandoc-react-color-cell__mask-white {
  border: 1px solid #e5e5e5;
}
.zent-form {
  margin-bottom: 30px;
  width: auto;
}
.zent-form select[readonly],
.zent-form textarea[readonly] {
  background-color: #fff;
  background-color: var(--theme-stroke-9, #fff);
  cursor: text;
}

.zent-form__fieldset {
  padding: 0;
  margin: 0;
  border: 0;
}

.zent-form__legend {
  border-bottom-color: #ebedf0;
  border-bottom-color: var(--theme-stroke-6, #ebedf0);
  padding-bottom: 8px;
  margin-bottom: 20px;
  width: 100%;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  font-size: 14px;
  font-weight: bold;
}

.zent-form__control-group {
  margin-bottom: 24px;
}
.zent-form__control-group.has-error .zent-form__error-desc,
.zent-form__control-group.has-error .zent-form__help-block {
  color: #df4545;
  color: var(--theme-error-4, #df4545);
}

.zent-form__static-value {
  padding-top: 5px;
  font-size: 14px;
  line-height: 18px;
  padding-bottom: 5px;
  word-break: break-all;
}

.zent-form__control-action {
  padding-top: 5px;
  display: inline-block;
  font-size: 14px;
  line-height: 18px;
}

.zent-form__required {
  color: #d40000;
  color: var(--theme-error-2, #d40000);
  margin-right: 6px;
  font-size: 16px;
  vertical-align: middle;
}

.zent-form__help-block,
.zent-form__error-desc,
.zent-form__help-desc,
.zent-form__notice-desc {
  color: #969799;
  color: var(--theme-stroke-3, #969799);
  line-height: 14px;
  font-size: 12px;
  margin-top: 10px;
  margin-bottom: 0;
}
.zent-form__help-block ul li,
.zent-form__error-desc ul li,
.zent-form__help-desc ul li,
.zent-form__notice-desc ul li {
  font-size: 12px;
  line-height: 12px;
}
.zent-form__help-block a,
.zent-form__error-desc a,
.zent-form__help-desc a,
.zent-form__notice-desc a {
  color: #155bd4;
  color: var(--theme-primary-4, #155bd4);
}
.zent-form__help-block:empty,
.zent-form__error-desc:empty,
.zent-form__help-desc:empty,
.zent-form__notice-desc:empty {
  margin-top: 0;
}

.zent-form__notice-desc {
  background-color: #fff5ed;
  background-color: var(--theme-warn-5, #fff5ed);
  color: #323233;
  color: var(--theme-stroke-1, #323233);
  display: inline-block;
  padding: 5px;
}

.zent-form--horizontal .zent-form__control-label {
  display: inline-block;
  width: 120px;
  font-size: 14px;
  line-height: 30px;
  text-align: right;
  vertical-align: top;
}
.zent-form--horizontal .zent-form__control-label + .zent-form__controls {
  margin-left: 10px;
}
.zent-form--horizontal .zent-form__controls {
  display: inline-block;
  word-break: break-all;
  vertical-align: top;
}
.zent-form--horizontal .zent-form__form-actions {
  padding: 0 0 0 130px;
  margin: 25px 0 10px;
  background: none;
  border: 0;
}
.zent-form--horizontal .zent-form__checkbox-group {
  font-size: 0;
  line-height: 28px;
}
.zent-form--horizontal .zent-form__checkbox {
  line-height: 28px;
}
.zent-form--horizontal .zent-form__radio-group {
  line-height: 28px;
}

.zent-form--inline .zent-form__control-group {
  display: inline-block;
  line-height: 30px;
  margin-right: 20px;
}
.zent-form--inline .zent-form__control-group .zent-form__control-label {
  display: inline-block;
  font-size: 14px;
  vertical-align: top;
}
.zent-form--inline .zent-form__control-group .zent-form__control-label + .zent-form__controls {
  display: inline-block;
  margin-left: 10px;
}

.zent-form--vertical .zent-form__control-label {
  display: block;
  font-size: 14px;
  margin-bottom: 10px;
}
@-webkit-keyframes zandoc-react-loading-ripple {
  0% {
    top: 96px;
    left: 96px;
    width: 0;
    height: 0;
    opacity: 1;
  }
  100% {
    top: 18px;
    left: 18px;
    width: 156px;
    height: 156px;
    opacity: 0;
  }
}
@keyframes zandoc-react-loading-ripple {
  0% {
    top: 96px;
    left: 96px;
    width: 0;
    height: 0;
    opacity: 1;
  }
  100% {
    top: 18px;
    left: 18px;
    width: 156px;
    height: 156px;
    opacity: 0;
  }
}
.zandoc-react-loading {
  margin-top: 150px;
}

.zandoc-react-loading-error {
  margin: 20px;
  font-size: 18px;
  color: #e33;
}

.zandoc-react-loading-ripple div {
  box-sizing: content-box;
  position: absolute;
  border-width: 4px;
  border-style: solid;
  opacity: 1;
  border-radius: 50%;
  -webkit-animation: zandoc-react-loading-ripple 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
          animation: zandoc-react-loading-ripple 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
}

.zandoc-react-loading-ripple div:nth-child(1) {
  border-color: #27f;
}

.zandoc-react-loading-ripple div:nth-child(2) {
  border-color: #bdf;
  -webkit-animation-delay: -0.5s;
          animation-delay: -0.5s;
}

.zandoc-react-loading-ripple {
  position: relative;
  margin: 0 auto;
  width: 200px;
  height: 200px;
  transform: translate(-100px, -100px) scale(1) translate(100px, 100px);
}
.zandoc-react-search-box-popover-wrapper {
  margin-top: 15px;
  margin-left: 20px;
  vertical-align: top;
}
.zandoc-react-search-box-input .zenticon-search {
  color: #bbb;
}
.zandoc-react-search-box-input.zent-input-wrapper {
  border-width: 0 0 1px;
  border-radius: 0;
  box-shadow: none !important;
}
.zandoc-react-search-box-result-list {
  background: #fff;
  border: 1px solid #e5e5e5;
  border-radius: 2px;
  box-shadow: 0 1px 8px rgba(0, 0, 0, 0.2);
  width: 250px;
  max-height: 400px;
  overflow: auto;
  box-sizing: border-box;
}
.zandoc-react-search-box-result-list--no-result {
  height: 60px;
  line-height: 60px;
  font-size: 14px;
  color: #666;
  text-align: center;
}
.zandoc-react-search-box-result-item {
  height: 40px;
  line-height: 40px;
  padding: 0 10px;
}
.zandoc-react-search-box-result-item:hover, .zandoc-react-search-box-result-item__active {
  background: #59f;
}
.zandoc-react-search-box-result-item:hover .zandoc-react-search-box-result-item__title, .zandoc-react-search-box-result-item__active .zandoc-react-search-box-result-item__title {
  color: #fff;
}
.zandoc-react-search-box-result-item:hover .zandoc-react-search-box-result-item__subtitle, .zandoc-react-search-box-result-item__active .zandoc-react-search-box-result-item__subtitle {
  color: #f2f2f2;
}
.zandoc-react-search-box-result-item__title {
  font-size: 14px;
}
.zandoc-react-search-box-result-item__subtitle {
  color: #999;
  font-size: 12px;
  float: right;
}
.page-header {
  border-bottom: 1px solid #eaeefb;
}
.page-header__top {
  padding: 0 40px;
  overflow: hidden;
  position: relative;
  box-sizing: border-box;
  height: 60px;
  background-color: #fff;
}
@media (min-width: 1440px) {
  .page-header__top {
    width: 1440px;
    margin: 0 auto;
  }
}
.page-header__logo {
  float: left;
  font-size: 0;
  line-height: 60px;
}
.page-header__logo span,
.page-header__logo img {
  display: inline-block;
  vertical-align: middle;
}
.page-header__logo img {
  width: 24px;
  margin-right: 10px;
}
.page-header__logo span {
  color: #333;
  font-size: 20px;
  font-family: Dosis, Source Sans Pro, Helvetica Neue, Arial, sans-serif;
}
.page-header__search-sep {
  display: inline-block;
  height: 20px;
  width: 1px;
  background: #bbb;
  margin-top: 20px;
  margin-left: 20px;
}
.page-header__github {
  margin-top: 16px;
}
.page-header__navs {
  float: right;
}
.page-header__item {
  float: left;
  height: 100%;
}
.page-header__link {
  display: block;
  line-height: 60px;
  color: #333;
  font-size: 16px;
  margin: 0 20px;
}
.page-header__link:hover {
  color: #155bd4;
}
.page-header__link--active {
  color: #155bd4;
}
.page-header__i18n-switcher {
  top: 18px;
  right: 85px;
  color: #455a64;
  padding: 0 7px;
  font-size: 14px;
  line-height: 24px;
  border-radius: 3px;
  cursor: pointer;
  text-align: center;
  position: absolute;
  display: inline-block;
  transition: 0.3s ease-in-out;
  border: 1px solid currentColor;
  font-family: Helvetica Neue, Arial, sans-serif;
}
.page-header__i18n-switcher:hover {
  color: #155bd4;
  border-color: #155bd4;
}
.page-footer {
  background-color: #34383b;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
      justify-content: center;
  height: 72px;
  font-size: 13px;
}
.page-footer__github-link svg {
  position: relative;
  top: 3px;
  right: 5px;
}
.page-footer__item {
  float: left;
  margin: 0 20px;
}
.page-footer__link {
  display: block;
  color: #bbb;
  line-height: 72px;
}
.page-footer__link:hover {
  color: #fff;
}
.side-nav {
  width: 250px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  box-sizing: border-box;
  overflow: auto;
  padding: 25px 0 10px;
}
.side-nav li {
  list-style: none;
}
.side-nav ul {
  padding: 0;
  margin: 0;
  overflow: hidden;
}
.side-nav .nav-group-item a {
  height: 44px;
  line-height: 44px;
  display: block;
  color: #455a64;
  font-weight: bold;
  font-size: 16px;
  transition: all 0.3s;
  padding: 0 20px 0 40px;
}
.side-nav .nav-group-item .nav-item a {
  font-size: 14px;
  font-weight: normal;
}
.side-nav .nav-group-item .nav-item a .nav-item__subtitle {
  font-size: 12px;
  color: #666;
}
.side-nav .nav-group-item .nav-item a:hover, .side-nav .nav-group-item .nav-item a.active {
  color: #155bd4;
  background-color: #f5f7fa;
}
.side-nav .nav-group-item .nav-item a:hover .nav-item__subtitle, .side-nav .nav-group-item .nav-item a.active .nav-item__subtitle {
  color: #155bd4;
}
.side-nav .nav-group__title {
  font-size: 13px;
  line-height: 44px;
  padding-left: 40px;
  color: rgba(69, 90, 100, 0.6);
}
.footer-nav {
  padding: 20px 40px 0;
  overflow: hidden;
  border-top: 1px solid #f4f4f4;
  font-size: 14px;
  position: absolute;
  bottom: 20px;
  box-sizing: border-box;
  width: 100%;
}
.footer-nav__link {
  color: #155bd4;
  overflow: hidden;
  position: relative;
  line-height: 1.5;
  cursor: pointer;
}
.footer-nav__link .zenticon {
  box-sizing: border-box;
  text-align: center;
  font-size: 12px;
  margin-top: 4px;
}
.footer-nav__left {
  float: left;
}
.footer-nav__left .zenticon {
  float: left;
  transform: rotate(180deg);
  margin-right: 10px;
}
.footer-nav__right {
  float: right;
}
.footer-nav__right .zenticon {
  float: right;
  margin-left: 10px;
}
